{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/styles/footer.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <title>Footer</title>
</head>

<body>
    <div class="footer">
        <div class="foot-top" >
        <div class="logodiv">
            <img src="{% static 'main/images/IITG_logo.png' %}" alt="/" class="logoimg">
        </div>
        <div class="footer-info" >
           <div class="footer-contact">
                <h2 class="contact" >
                    Contact
                </h2>
                <div class="somemorelinks">
                <div href="#" class="contact-info" >Phone: +91 361 258 4000</div>
                <div href="#" class="contact-info" >Email: peeroff@iitg.ac.in</div>
                <div href="#" class="contact-info" >Address: Guwahati-781039</div>
                </div>
            </div>
            <div>
                <h2 class="useful-text" >Useful Links</h2>
            <div class="useful-links" >
                <div class="somemorelinks">
                <a href="https://www.iitg.ac.in/" class="contact-info">IIT Guwahati</a>
                <a href="https://www.iitg.ac.in/aer/home" class="contact-info">Alumni and External Relations</a>
                <a href="https://almnet.iitg.ac.in/" class="contact-info">IITG Alumni Association</a>
                <a href="https://www.iitg.ac.in/sail/SAIL%20_%20Startups.html" class="contact-info">Startups of IITG Alumni</a>
            </div>
            <div class="somemorelinks">
                <a href="https://iitg.ac.in/hab/" class="contact-info" >HAB</a>
                <a href="https://www.iitg.ac.in/iitg_admstr?ct=iitg-administration" class="contact-info" >Administration</a>
                <a href="https://www.iitg.ac.in/phones/" class="contact-info" >Telephone Directory</a>
                <a href="#" class="contact-info" >Intranet</a>
            </div>
            <div class="somemorelinks"  >
                <a href="https://www.iitg.ac.in/report/convocation.php" class="contact-info">Convocation Speeches and Documents</a>
               
                <a href="https://www.iitg.ac.in/iitg_section?section=student-s-affairs" class="contact-info">Student Affairs</a>
                <a href="https://www.iitg.ac.in/acad/" class="contact-info">Academic Affairs</a>
            </div>
            </div>
            </div>
        </div>
        </div>
        <div class="swc">
            <div class="image"><img class="swclogo"
                src="{% static 'main/images/swc_logo.png' %}" alt=""></div>
            <div>
                <p class="swc-text">SWC </p>
              
            </div>
            
            <div class="swc-text2">@2023 &nbsp &nbsp @students-web-commitee</div>
        </div>
        </div>
       
       
  


</body>