{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/styles/footer.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <title>Footer</title>
</head>

<body>
    <div class="footer">
        <div class="foot-top" >
        <div class="logodiv">
            <img src="{% static 'main/images/IITG_White.png' %}" alt="/" class="logoimg">
        </div>
        <div class="footer-info" >
           <div class="footer-contact">
                <h2 class="contact" >
                    Contact
                </h2>
                <div class="somemorelinks">
                <p class="contact-info" >Phone: +91 361 258 4000</p>
                <p class="contact-info" >Email: peeroff@iitg.ac.in</p>
                <p class="contact-info" >Address: Guwahati-781039</p>
                </div>
            </div>
            <div>
                <h2 class="useful-text" >Useful Links</h2>
            <div class="useful-links" >
                <div class="somemorelinks">
                <p class="contact-info">IIT Guwahati</p>
                <p class="contact-info">Alumni and External Relations</p>
                <p class="contact-info">IITG Alumni Association</p>
                <p class="contact-info">Startups of IITG Alumni</p>
            </div>
            <div class="somemorelinks">
                <p class="contact-info" style="margin-bottom:10px ;">HAB</p>
                <p class="contact-info" style="margin-bottom:10px ;">Administration</p>
                <p class="contact-info" style="margin-bottom:10px ;">Telephone Directory</p>
                <p class="contact-info" style="margin-bottom:10px ;">Intranet</p>
            </div>
            <div class="somemorelinks"  >
                <p class="contact-info" style="margin-bottom:00px ;">Convocation Speeches and</p>
                <p class="contact-info" style="margin-bottom:10px ;">Documents</p>
                <p class="contact-info" style="margin-bottom:10px ;">Student Affairs</p>
                <p class="contact-info" style="margin-bottom:10px ;">Academic Affairs</p>
            </div>
            </div>
            </div>
        </div>
        </div>
        <div class="swc">
            <div class="image"><img class="swclogo"
                src="{% static 'main/images/Group 158.png' %}" alt=""></div>
            <div>
                <p class="swc-text">SWC </p>
              
            </div>
            <div class="vertical-line"></div>
            <div class="swc-text2">@2022 &nbsp &nbsp @students-web-commitee</div>
        </div>
        </div>
       
       
  


</body>