.header{
    margin: 0px 0px 50px 0px; width: 100%;
}
.headlinks{
    transform: translateY(-60px); height:50%; 
}
.minutes{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;margin:50px ; font-size: 26px; width: 28%;
}
.desc{
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;margin:50px ; font-size: 16px; width: 28%; transform: translateY(-20px);
}
.table{
    width: 94%; margin: auto;  border-collapse: separate;
border-spacing:0 20px;
}
.thead{
    background-color:#71797E ; color: white; 
}
.min-row{
    border:0.2vw solid #71797E;
}

@media (max-width:700px){
    .minutes{
        transform: scale(.75)translateX(-70px)translateY(-60px);
        width: 250px;
    }
    .desc{
        transform: scale(.8)translateX(-55px)translateY(-55px);
        width: 250px;
    }
}