

.minutes{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
margin: 30px 0px 0px 0px;
width: 100%;
padding: 0% 5%; 
font-size: 2rem; 
}
.desc{
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
margin: 10px 0px;
width: 100%;
padding: 0% 5%; 
font-size: 1rem;
margin-bottom: 30px; 
}
.table-responsive{
    width: 100%;
    padding: 0% 5%;
    margin-bottom: 5vh;
    overflow-x: hidden !important;
}
.table{
   margin-bottom: 0;
      border-collapse: separate;
border-spacing:0px 0px;
}
.thead{
    background-color:#71797E ; color: white; 
}
.min-row{
    border:0.2vw solid #71797E;
}
.meeting-link{
    color: black;
    text-decoration: underline;
}
@media(max-width:500px){
    .table-responsive{

        overflow-x: scroll !important;
    }
}