{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static 'main/styles/home.css' %}" />
  <title>Home</title>
</head>

<body style="cursor: default;">
  <div style="display: flex; flex-direction: column; flex: 1">
    <div class="header">{% include './components/header.html'%}</div>
    <div class="container">

      <H2 style="color:black; font-family:'Signika'; font-weight:300;"> Power of Students' Senate </h2>
      <p class="content">

        The output of the work of student senate towards the betterment of student life depends upon two things – the
        decisions taken and their execution. The Vice president, Student’s Gymkhana council is the chairman of students’
        senate and thus is the most powerful student in the campus for these administrative decisions. I have been asked
        a very interesting question – “How powerful is the Student Senate”. This is by far the most interesting question
        one has ever asked me. Thank you Hitesh Mahipal for raising this.<br><br>

        1.) <b>Power in decision :</b> The students’ senate acts as the central policy making body for all matters
        related to students’ activities. The Vice-President directs the appropriate persons, with approval from the
        President (DoSA), for the successful implementation of the decisions of Students’ Senate. The Vice president is
        the Joint Secretary of the Students’ Affairs Council (SAC) will be the apex policy making body under whose
        purview will be matters related to Gymkhana Council, Placement Cell and Alumni Affairs & External Relations. So
        the SAC makes policies and the senate has the power to take decisions to run the daily activity of student’s
        based on those policies. Point to note here is that the most of the agenda of SAC is from senate and thus
        students’ senate essentially writes and drives the policies made by SAC. And since all deans and Deputy director
        and director are members of SAC policies on almost any issue of non-academic life in the campus are dealt and
        not just the club events. So immense power of decision making lies indirectly in the student’s senate and
        directly in the SAC(which consists of VP and other Gen-Secs).<br><br>

        2.) <b>Power in execution :</b> The students senate is a part of students’ affairs section and the students
        directly deal only with the club and hostel activities. There are different sections for different tasks like
        the maintenance section, engineering section, academic section, establishment section, security section etc. For
        any decision to be formally executed a notice is drafted from Student Affair’s section and is sent to the
        required section through the required channel. There is increasing problem of co-ordination between the section
        and internal problems in the different sections which reflect out to the inefficiency of the system and the
        administrators. It is the need of the hour to improve the system in place. Since the students’ senate now has
        members who are devoid of club activities they can take up this task of working out with different sections to
        create processes for smooth execution. The head of the various sections are very co-operative and they will be
        happy to receive our help. So compared to the old system the power for execution of students’ senate is
        increased drastically.<br><br>

        3.) <b>Power of members :</b> The above two points only states what is in documents. But reality co-exists with
        documents only if the Vice-President and other senators are capable enough to understand the system and its
        processes, articulate their thoughts well, have the convincing capacity to put weight to their point, assess all
        the strings attached with a decision, empathetic skills to understand the opponents viewpoint in a debate, be
        bold and intellectual, have patience and be professional in whatever he is doing. One very important thing I
        have learned during my B.Tech life is that “Arguments don’t win, people do”. So irrespective of the powers given
        to students’ senate it is very important how well the senate utilizes its power.   From my experience the Deans,
        chairman and all the other administrators do actually think for the benefit of the students (Contrary to the
        popular belief that they are anti-student). It is just that you may find their decisions sometimes too out of
        time or out of place. They might sometimes do take wrong decisions as we do but that doesn’t necessarily mean
        that they are out of their mind. Now the Vice-President or the students Senate is given the full power and the
        right platform to get the decisions in their favour. I know many decisions that I took which DoSA was not happy
        with. He is kind enough to consider me an equal in the such kind of decisions and yes he has given such power
        and freedom to senate. And ofcourse there are decisions which all the student members opposed but are imparted.
        Its only my lack of experience, ability and clarity over the complete picture that I was not able to convince
        them to my point.   So the power to students’ senate comes from the quality of its members. So choose your
        contestants wisely.<br><br>

        4.) <b>Power in reflection :</b> After the above three you might be wondering what’s left. The Students’ senate
        represents the whole of student community. Their impression is based on the acts of the junta which include all
        sort of good as well as bad things. I hear many people saying “Student body in IITG is very weak”. You have to
        understand that Students senate after all are students from the same junta. And saying that students’ senate is
        weak implies that you are not a capable community. By loving your students senate and keeping your faith in them
        you increase their power as your confidence in them is reflected while they make their arguments with the
        administrators(including SEC). By criticizing them continuously you decrease their power and image in front of
        the policy making body.<br><br>
        So from the long story above the conclusion is that power is immensely theoretical but depends on how the senate
        utilizes it.

      </p>


    </div>
    <br><br>
    </div>
    {% include './components/footer.html'%}
</body>

</html>