{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main/styles/senate.css' %}">

    <title>Senate</title>
</head>

<body>
    <div style="display: flex; flex-direction: column; flex: 1;">
        <div class="header">{% include './components/header.html'%}</div>
        <div class="headlinks">{% include './components/headlinks.html'%}</div>

        <div class="studentext">Welcome to The Students Senate Council, IIT Guwahati
        </div>
        <div class="description">Description of students senate council</div>
        <div class="toplinks">
            <button class="btn btn-light ">
                <div class="studsenate">
                    <a class="descriptionText">Power of students senate </a><img
                        src="{% static 'main/images/arrow.svg' %}" class="image" alt="img">
                </div>
            </button>
            <button class="btn btn-light">
                <div class="Msgvp ">
                    <a class="descriptionText">Message from Vice President </a><img
                        src="{% static 'main/images/arrow.svg' %}" class="image" alt="">
                </div>
            </button>

        </div>

        <div class="studentext">Students’ executive body</div>
        <div class="pgtext">UG Senators</div>
        <div class="carddeck">
            {% for info in ugsenator %}
            <div class="card">
                <img class="card-img-top" src="{{info.Image.url}}" height="300px" alt="">
                <div class="card-body">
                    <div class="bottomtext">
                        <div class="card-text" style="color: rgb(255, 255, 255);">{{info.Name}}</div>
                        <div class="card-text" style="color: rgb(255, 255, 255);">{{info.Position}}</div>
                    </div>
                    <hr style="background-color:white">
                    <div class="bottomtext">
                        <div class="card-text" style="color: rgb(255, 255, 255);">{{info.Email}}</div>
                        <div class="card-text" style="color: rgb(255, 255, 255);">{{info.Phone_No}}</div>
                    </div>


                </div>
            </div>
            {% endfor %}


        </div>
        <p class="pgtext">PG Senators</p>
        <div class="carddeck">
            {% for info in pgsenator %}
            <div class="card">
                <img class="card-img-top" src="{{info.Image.url}}" height="300px" alt="">
                <div class="card-body">
                    <div class="bottomtext">
                        <div class="card-text" style="color: rgb(255, 255, 255);">{{info.Name}}</div>
                        <div class="card-text" style="color: rgb(255, 255, 255);">{{info.Position}}</div>
                    </div>
                    <h5 class="card-title"></h5>
                    <hr style="background-color:white">
                    <div class="bottomtext">
                        <div class="card-text" style="color: rgb(255, 255, 255);">{{info.Email}}</div>
                        <div class="card-text" style="color: rgb(255, 255, 255);">{{info.Phone_No}}</div>
                    </div>


                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% include './components/footer.html'%}



</body>

</html>