{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static 'main/styles/home.css' %}" />
  <title>Home</title>
</head>

<body>
  <div style="display: flex; flex-direction: column; flex: 1">
    <div class="header">{% include './components/header.html'%}</div>
    <div class="container">

      <H2 style="color:black; font-family:'Signika'; font-weight:300;"> Message From Vice President </h2>
      <p class="content">
        Dear Students,

        As Vice President, Students' Gymkhana Council (SGC) it is my honor to welcome you all to another exciting year at IIT Guwahati.
        
        As we embark on another academic year, I want to remind everyone of the unique journey we share here. Our campus is more than just a place of learning; from late-night discussions, group studies, and celebrations, to forging friendships that will stay with you forever, hostel life is an integral part of our journey here. Embrace it fully and cherish every moment.
        I also urge you to dive into the plethora of opportunities IIT Guwahati offers. Participate in different events, join clubs, attend festivals, and engage in cultural activities. Explore your interests, whether they are in technology, arts, sports, or social causes. These experiences will not only enrich your college life but also help you discover new passions and skills.
        
        The Students' Gymkhana Council is here to support you in every aspect of your college experience. The Students' Senate, as part of SGC, is the central policy making body for all matters related to students’ activities, it acts as a vital bridge between the student body and the administration. The students' senate works tirelessly to ensure your concerns are addressed and your campus life is fulfilling.
        
        While you immerse yourself in all these experiences, remember the drive that brought you to this excellent institute: the drive to explore science and technology. Stay curious, innovative, and committed to your academic pursuits. Your passion for learning and discovery is what defines us as a community.
        As students of IIT Guwahati, you carry the legacy of this esteemed institution. Stay honest to yourselves and act responsibly, both within and outside the campus. Your actions reflect not only on you but also on the entire IIT Guwahati community. Let’s work together to uphold the values and reputation of our institute.
        
        Once again, welcome to another year of learning, growth, and unforgettable experiences. Let’s make it a remarkable one together!

      </p>


    </div>
  </div>
  {% include './components/footer.html'%}
</body>

</html>